.action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vH;
  width: 100vW;
  position: absolute;
  top:0;
}

.action_btn {
  padding: 1em 1.44em;
  z-index:1;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'RoleModel';
  letter-spacing: .3em;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}


.action_btn:hover {
  color: #000;
  background: #fff;
}

.overlay {
  position: fixed;
  z-index: 1;
  height: 100vH;
  width: 100vW;
  background: #fff;
  opacity: 0;
  animation: opacity 1s;
}

@keyframes opacity {
  0% {
      opacity: 1;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header_main {
  font-family: 'Mornlight';
  font-weight: 400;
  color: #000000;
  font-size: 63pt;
  transform: rotate(-2deg);
}

.header_main::first-letter {
  font-family: 'Aerotis';
  font-size: 47pt;
  margin-right: .3rem;
}

.header_col {
  display: flex;
  justify-content: center;
}

.subheader {
  font-family: 'Tafelschrift';
  font-weight: 400;
  color: #000000;
  font-size: 14pt;
  margin-top: -20px;
}

.img {
  height: 600px;
  object-fit: cover;
  overflow: none;
}

.img img {
  max-height: 100%;
  height: 100%;
}

.icons {
  display: flex;
  align-items: center;
}

.icons img {
  margin: .5rem .75rem;
}

.main {
  width: 95%;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

.main_layout {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 2rem;
}

.main_layout__col {
  padding: 0 1rem;
  grid-column: span 5;
}

@media (min-width: 1200px) {
  .main_layout__col {
    grid-column: span 1;
    border-right: 1px solid #cfcfcf;
  }

  .main_layout__col:nth-child(2) {
    grid-column: span 2;
    border-right: 1px solid #cfcfcf;
    padding: 0 3.5rem;
  }

  .main_layout__col:last-child {
    border-right: none;
  }
}

.article+.article {
  padding-top: .5rem;
  margin-top: 2rem;
  border-top: 1px solid #cfcfcf;
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article_img {
  position: relative;
}

.article_text {
  position: absolute;
  top: 0;
  margin: .5rem 1.3rem;
}

.article_img img {
  object-fit: cover;
  display: block;
  left: 0;
  right: 0;
  width: 100%;
}

.article_img+* {
  margin-top: 1rem;
}

.article_link {
  color: inherit;
  text-decoration: none;
}

.article_title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.25;
  color: #000;
  padding-bottom: .5rem;
}

.article-title__large {
  font-size: 2rem;
}

.article-title__large+* {
  margin-top: 1.5rem;
}

.article-title__medium {
  font-size: 1.5rem;
}

.article-title__medium+* {
  margin-top: 0.75rem;
}

.article-title__small {
  font-size: 1.25rem;
}

.article-title__small+* {
  margin-top: 0.75rem;
}

.article_category {
  font-family: 'RoleModel';
  color: #fff;
  font-size: 36pt;
  margin-right: 1rem;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.article_excerpt,
.article_creditation {
  font-size: 1.125rem;
  line-height: 1.4;
}

.article_excerpt p+p,
.article_creditation p+p {
  margin-top: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem .5rem 0;
}

.nav a {
  font-family: Margaret;
  font-size: 16pt;
  padding: 0;
  margin: 0;
}

.nav a:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .nav {
    justify-content: center;
  }

  .nav a {
    padding: 1rem 2rem;
    margin: 0 1.5rem;
  }
}

.inline {
  display: inline-flex;
  align-items: center;
}

.inline img {
  padding-right: .3rem;
}